---
# Generate mRemoteNG configuration - auto-detects ADFR vs DSP inventory

- name: Detect inventory type
  set_fact:
    is_adfr_inventory: "{{ 'adfr_infrastructure' in groups }}"
    is_dsp_inventory: "{{ 'dsp_infrastructure' in groups }}"
  delegate_to: localhost

- name: Set project paths (from utility role)
  set_fact:
    templates_dir: "{{ role_path }}/../../../templates"
    files_dir: "{{ role_path }}/../../../files"
  delegate_to: localhost

- name: Generate ADFR mRemoteNG (ADFR inventory detected)
  block:
    - name: Initialize ADFR lab_design
      set_fact:
        lab_design:
          adfr_infrastructure: []
          adfr_recovery: []
          d1_dcs: []
          d2_parent_dcs: []
          d21_child_dcs: []
          d22_child_dcs: []
      delegate_to: localhost

    - name: Populate ADFR infrastructure
      set_fact:
        lab_design: "{{ lab_design | combine({'adfr_infrastructure': lab_design.adfr_infrastructure + [{'hostname': item, 'ip': hostvars[item].ansible_host | default(item), 'role': hostvars[item].role | default('')}]}, recursive=True) }}"
      loop: "{{ groups.get('adfr_infrastructure', []) }}"
      delegate_to: localhost

    - name: Populate ADFR recovery
      set_fact:
        lab_design: "{{ lab_design | combine({'adfr_recovery': lab_design.adfr_recovery + [{'hostname': item, 'ip': hostvars[item].ansible_host | default(item), 'role': hostvars[item].role | default('')}]}, recursive=True) }}"
      loop: "{{ groups.get('adfr_recovery', []) }}"
      delegate_to: localhost

    - name: Populate D1 DCs
      set_fact:
        lab_design: "{{ lab_design | combine({'d1_dcs': lab_design.d1_dcs + [{'hostname': item, 'ip': hostvars[item].ansible_host | default(item), 'role': hostvars[item].dc_role | default('')}]}, recursive=True) }}"
      loop: "{{ groups.get('d1_dcs', []) }}"
      delegate_to: localhost

    - name: Populate D2 parent DCs
      set_fact:
        lab_design: "{{ lab_design | combine({'d2_parent_dcs': lab_design.d2_parent_dcs + [{'hostname': item, 'ip': hostvars[item].ansible_host | default(item), 'role': hostvars[item].dc_role | default('')}]}, recursive=True) }}"
      loop: "{{ groups.get('d2_parent_dcs', []) }}"
      delegate_to: localhost

    - name: Populate D21 child DCs
      set_fact:
        lab_design: "{{ lab_design | combine({'d21_child_dcs': lab_design.d21_child_dcs + [{'hostname': item, 'ip': hostvars[item].ansible_host | default(item), 'role': hostvars[item].dc_role | default('')}]}, recursive=True) }}"
      loop: "{{ groups.get('d21_child_dcs', []) }}"
      delegate_to: localhost

    - name: Populate D22 child DCs
      set_fact:
        lab_design: "{{ lab_design | combine({'d22_child_dcs': lab_design.d22_child_dcs + [{'hostname': item, 'ip': hostvars[item].ansible_host | default(item), 'role': hostvars[item].dc_role | default('')}]}, recursive=True) }}"
      loop: "{{ groups.get('d22_child_dcs', []) }}"
      delegate_to: localhost

    - name: Generate ADFR mRemoteNG XML
      template:
        src: "{{ templates_dir }}/adfr-mremoteng.xml.j2"
        dest: "{{ files_dir }}/adfr-lab-mremoteng.xml"
        mode: '0644'
      delegate_to: localhost

    - name: Display ADFR generation result
      debug:
        msg: "Generated ADFR mRemoteNG: files/adfr-lab-mremoteng.xml"
      delegate_to: localhost

  when: is_adfr_inventory

- name: Generate DSP mRemoteNG (DSP inventory detected)
  block:
    - name: Initialize DSP lab_design
      set_fact:
        lab_design:
          dsp_infrastructure: []
          d3_dcs: []
      delegate_to: localhost

    - name: Populate DSP infrastructure
      set_fact:
        lab_design: "{{ lab_design | combine({'dsp_infrastructure': lab_design.dsp_infrastructure + [{'hostname': item, 'ip': hostvars[item].ansible_host | default(item), 'role': hostvars[item].role | default('')}]}, recursive=True) }}"
      loop: "{{ groups.get('dsp_infrastructure', []) }}"
      delegate_to: localhost

    - name: Populate D3 DCs
      set_fact:
        lab_design: "{{ lab_design | combine({'d3_dcs': lab_design.d3_dcs + [{'hostname': item, 'ip': hostvars[item].ansible_host | default(item), 'role': hostvars[item].dc_role | default('')}]}, recursive=True) }}"
      loop: "{{ groups.get('d3_dcs', []) }}"
      delegate_to: localhost

    - name: Generate DSP mRemoteNG XML
      template:
        src: "{{ templates_dir }}/dsp-mremoteng.xml.j2"
        dest: "{{ files_dir }}/dsp-lab-mremoteng.xml"
        mode: '0644'
      delegate_to: localhost

    - name: Display DSP generation result
      debug:
        msg: "Generated DSP mRemoteNG: files/dsp-lab-mremoteng.xml"
      delegate_to: localhost

  when: is_dsp_inventory