---
# Generate mRemoteNG configuration - auto-detects ADFR vs DSP inventory

- name: Detect inventory type
  set_fact:
    is_adfr_inventory: "{{ 'adfr_infrastructure' in groups }}"
    is_dsp_inventory: "{{ 'dsp_infrastructure' in groups }}"
  delegate_to: localhost

- name: Generate ADFR mRemoteNG (ADFR inventory detected)
  block:
    - name: Build ADFR lab_design from inventory
      set_fact:
        lab_design:
          adfr_infrastructure: >-
            {{
              groups.get('adfr_infrastructure', [])
              | map('extract', hostvars)
              | map(attribute='inventory_hostname')
              | map('extract', hostvars)
              | list
              | map(lambda x: {
                  'hostname': x.inventory_hostname,
                  'ip': x.ansible_host | default(x.inventory_hostname),
                  'role': x.role | default('')
                })
              | list
            }}
          adfr_recovery: >-
            {{
              groups.get('adfr_recovery', [])
              | map('extract', hostvars)
              | list
              | map(lambda x: {
                  'hostname': x.inventory_hostname,
                  'ip': x.ansible_host | default(x.inventory_hostname),
                  'role': x.role | default('')
                })
              | list
            }}
          d1_dcs: >-
            {{
              groups.get('d1_dcs', [])
              | map('extract', hostvars)
              | list
              | map(lambda x: {
                  'hostname': x.inventory_hostname,
                  'ip': x.ansible_host | default(x.inventory_hostname),
                  'role': x.dc_role | default('')
                })
              | list
            }}
          d2_parent_dcs: >-
            {{
              groups.get('d2_parent_dcs', [])
              | map('extract', hostvars)
              | list
              | map(lambda x: {
                  'hostname': x.inventory_hostname,
                  'ip': x.ansible_host | default(x.inventory_hostname),
                  'role': x.dc_role | default('')
                })
              | list
            }}
          d21_child_dcs: >-
            {{
              groups.get('d21_child_dcs', [])
              | map('extract', hostvars)
              | list
              | map(lambda x: {
                  'hostname': x.inventory_hostname,
                  'ip': x.ansible_host | default(x.inventory_hostname),
                  'role': x.dc_role | default('')
                })
              | list
            }}
          d22_child_dcs: >-
            {{
              groups.get('d22_child_dcs', [])
              | map('extract', hostvars)
              | list
              | map(lambda x: {
                  'hostname': x.inventory_hostname,
                  'ip': x.ansible_host | default(x.inventory_hostname),
                  'role': x.dc_role | default('')
                })
              | list
            }}
      delegate_to: localhost

    - name: Generate ADFR mRemoteNG XML
      template:
        src: "{{ playbook_dir }}/../templates/adfr-mremoteng.xml.j2"
        dest: "{{ playbook_dir }}/../files/adfr-lab-mremoteng.xml"
        mode: '0644'
      delegate_to: localhost

    - name: Display ADFR generation result
      debug:
        msg: "Generated ADFR mRemoteNG: files/adfr-lab-mremoteng.xml"
      delegate_to: localhost

  when: is_adfr_inventory

- name: Generate DSP mRemoteNG (DSP inventory detected)
  block:
    - name: Build DSP lab_design from inventory
      set_fact:
        lab_design:
          dsp_infrastructure: >-
            {{
              groups.get('dsp_infrastructure', [])
              | map('extract', hostvars)
              | list
              | map(lambda x: {
                  'hostname': x.inventory_hostname,
                  'ip': x.ansible_host | default(x.inventory_hostname),
                  'role': x.role | default('')
                })
              | list
            }}
          d3_dcs: >-
            {{
              groups.get('d3_dcs', [])
              | map('extract', hostvars)
              | list
              | map(lambda x: {
                  'hostname': x.inventory_hostname,
                  'ip': x.ansible_host | default(x.inventory_hostname),
                  'role': x.dc_role | default('')
                })
              | list
            }}
      delegate_to: localhost

    - name: Generate DSP mRemoteNG XML
      template:
        src: "{{ playbook_dir }}/../templates/dsp-mremoteng.xml.j2"
        dest: "{{ playbook_dir }}/../files/dsp-lab-mremoteng.xml"
        mode: '0644'
      delegate_to: localhost

    - name: Display DSP generation result
      debug:
        msg: "Generated DSP mRemoteNG: files/dsp-lab-mremoteng.xml"
      delegate_to: localhost

  when: is_dsp_inventory