---
# Generate mRemoteNG XML configuration
- name: Generate mRemoteNG config (template)
  template:
    src: "{{ playbook_dir }}/../templates/mremoteng.xml.j2"
    dest: "{{ playbook_dir }}/../files/semperis-lab-mremoteng.xml"
    mode: '0644'