---
# Configure VM hardware (CPU, RAM, Disk, Pool, Tags, OnBoot)

- name: Derive resource pool from first tag
  set_fact:
    derived_pool: "{{ (proxmox_vm_tags | split(','))[0] | upper }}"

- name: Get current pool membership
  shell: |
    ssh -i /root/.ssh/ansible_key \
      -o StrictHostKeyChecking=no \
      root@{{ proxmox_host }} \
      "pvesh get /cluster/resources --type vm --output-format json"
  delegate_to: localhost
  register: vm_resources
  changed_when: false

- name: Parse current pool from JSON
  set_fact:
    current_pool: "{{ (vm_resources.stdout | from_json | selectattr('vmid', 'equalto', vmid) | map(attribute='pool') | list | first) | default('none') }}"

- name: Remove from current pool if different
  shell: |
    ssh -i /root/.ssh/ansible_key \
      -o StrictHostKeyChecking=no \
      root@{{ proxmox_host }} \
      "pvesh set /pools/{{ current_pool }} --delete --vms {{ vmid }}"
  delegate_to: localhost
  when:
    - current_pool != "none"
    - current_pool != derived_pool

- name: Add to new resource pool
  shell: |
    ssh -i /root/.ssh/ansible_key \
      -o StrictHostKeyChecking=no \
      root@{{ proxmox_host }} \
      "pvesh set /pools/{{ derived_pool }} --vms {{ vmid }}"
  delegate_to: localhost
  register: pool_add
  changed_when: pool_add.rc == 0
  failed_when: pool_add.rc != 0 and 'already a pool member' not in pool_add.stderr

- name: Configure VM CPU and memory
  community.general.proxmox_kvm:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    node: "{{ proxmox_node }}"
    name: "{{ inventory_hostname }}"
    cores: "{{ vm_cores }}"
    memory: "{{ vm_memory }}"
    update: yes
  register: cpu_mem_config
  when: needs_cpu_mem_update | default(true)
  delegate_to: localhost

- name: Resize VM disk
  community.general.proxmox_disk:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    disk: scsi0
    size: "{{ vm_disk }}"
    state: resized
  register: disk_resize
  when: needs_disk_resize | default(false)
  delegate_to: localhost

- name: Apply VM tags
  community.general.proxmox_kvm:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    node: "{{ proxmox_node }}"
    tags: "{{ proxmox_vm_tags }}"
    update: true
  register: tag_config
  delegate_to: localhost

- name: Ensure VM is set to start on host boot
  community.general.proxmox_kvm:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    node: "{{ proxmox_node }}"
    onboot: true
    update: true
  register: onboot_result
  delegate_to: localhost

- name: Display hardware configuration result
  debug:
    msg:
      - "VM {{ inventory_hostname }} - Hardware configured"
      - "  CPU: {{ vm_cores }} cores"
      - "  RAM: {{ vm_memory }} MB"
      - "  Disk: {{ vm_disk }}"
      - "  Pool: {{ derived_pool }}"
      - "  Tags: {{ proxmox_vm_tags }}"
      - "  OnBoot: {{ 'enabled' if onboot_result.changed else 'already enabled' }}"