---
# Configure VM network settings

- name: Add secondary network interface
  community.general.proxmox_nic:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    interface: net1
    bridge: "{{ proxmox_network_bridge | default('vmbr0') }}"
    tag: "{{ proxmox_network_vlan | default(omit) }}"
  register: secondary_nic_config
  when:
    - secondary_nic is defined
    - secondary_nic | bool

- name: Display secondary NIC addition result
  ansible.builtin.debug:
    msg: "{{ inventory_hostname }} - Secondary NIC {{ 'added/configured' if (secondary_nic_config.changed | default(false)) else 'already present' }}"
  when:
    - secondary_nic is defined
    - secondary_nic | bool

- name: Configure VM VLAN tag
  community.general.proxmox_nic:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    interface: net0
    bridge: "{{ proxmox_network_bridge }}"
    tag: "{{ proxmox_network_vlan }}"
  register: network_config
  when: vm_preexisted is not defined or not vm_preexisted

- name: Display network configuration result
  ansible.builtin.debug:
    msg: "VM {{ inventory_hostname }} - Network configured (VLAN {{ proxmox_network_vlan }})"
  when:
    - network_config is defined
    - network_config.changed