---
# Configure VM hardware (CPU, RAM, Disk)

- name: Derive resource pool from first tag
  set_fact:
    derived_pool: "{{ (proxmox_vm_tags | split(','))[0] | upper }}"

- name: Move VM to correct resource pool
  shell: |
    ssh -i /root/.ssh/ansible_key \
      -o StrictHostKeyChecking=no \
      root@{{ proxmox_host }} \
      "qm set {{ vmid }} --pool {{ derived_pool }}"
  delegate_to: localhost
  register: pool_result
  changed_when: "'update' in pool_result.stderr or pool_result.rc == 0"
  failed_when: pool_result.rc != 0 and 'already' not in pool_result.stderr

- name: Configure VM CPU and memory
  community.general.proxmox_kvm:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    node: "{{ proxmox_node }}"
    name: "{{ inventory_hostname }}"
    cores: "{{ vm_cores }}"
    memory: "{{ vm_memory }}"
    pool: "{{ derived_pool }}"
    update: yes
  register: cpu_mem_config
  when: needs_cpu_mem_update
  delegate_to: localhost

- name: Resize VM disk
  community.general.proxmox_disk:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    disk: scsi0
    size: "{{ vm_disk }}"
    state: resized
  register: disk_resize
  when: needs_disk_resize | default(false)
  delegate_to: localhost

- name: Apply VM tags
  community.general.proxmox_kvm:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    node: "{{ proxmox_node }}"
    tags: "{{ proxmox_vm_tags }}"
    update: true
  register: tag_config_first

- name: Ensure VM is set to start on host boot
  community.general.proxmox_kvm:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    node: "{{ proxmox_node }}"
    onboot: true
    update: true
  register: onboot_result

- name: Display hardware configuration result
  debug:
    msg:
      - "VM {{ inventory_hostname }} - Hardware configured"
      - "  CPU: {{ vm_cores }} cores"
      - "  RAM: {{ vm_memory }} MB"
      - "  Disk: {{ vm_disk }}"
      - "  Tags: {{ proxmox_vm_tags }}"