---
# Start a VM

- name: Start VM
  community.general.proxmox_kvm:
    api_host: "{{ proxmox_host }}"
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    validate_certs: "{{ proxmox_validate_certs }}"
    vmid: "{{ vmid }}"
    node: "{{ proxmox_node }}"
    state: started
  register: start_result

- name: Display start result
  debug:
    msg: "VM {{ inventory_hostname }} ({{ vmid }}) - {{ 'started' if start_result.changed else 'already running' }}"