---
# Configure static IP address on Windows

- name: Get network adapter name
  ansible.windows.win_shell: |
    (Get-NetAdapter | Where-Object {$_.Status -eq "Up"} | Select-Object -First 1).Name
  register: adapter_name
  changed_when: false

- name: Set static IP address
  ansible.windows.win_shell: |
    $adapter = "{{ adapter_name.stdout | trim }}"
    New-NetIPAddress -InterfaceAlias $adapter -IPAddress "{{ target_ip }}" -PrefixLength {{ windows_ip_prefix }} -DefaultGateway {{ windows_gateway }}
  async: 30
  poll: 0
  when: needs_ip_config
  changed_when: needs_ip_config

- name: Display IP status
  debug:
    msg: "{{ inventory_hostname }} - IP {{ 'changed to' if needs_ip_config else 'already set to' }} {{ target_ip }}"