<?xml version="1.0" encoding="utf-8"?>
<mrng:Connections xmlns:mrng="http://mremoteng.org"
                  Name="Connections" Export="false"
                  EncryptionEngine="AES" BlockCipherMode="GCM"
                  KdfIterations="1000" FullFileEncryption="false"
                  Protected="{{ protected_value | default('') }}"
                  ConfVersion="2.6">
  <Node Name="ADFR-DSP Lab" Type="Container" Expanded="true" Descr="Semperis Lab"
        Icon="mRemoteNG" Panel="General" Id="adfr-lab-root">

    <!-- Infrastructure -->
    <Node Name="Infrastructure" Type="Container" Expanded="true" Icon="mRemoteNG" Panel="General" Id="infra-container">
    {% for vm in lab_design.infrastructure %}
      <Node Name="{{ vm.hostname }}" Type="Connection" Icon="mRemoteNG" Panel="General"
            Id="infra-{{ vm.hostname | lower }}"
            Username="Administrator" Domain="" Password=""
            Hostname="{{ vm.ip }}" Protocol="RDP" Port="3389"
            UseCredSsp="true" />
    {% endfor %}
    </Node>

    <!-- Arbor Forest Root -->
    <Node Name="arbor.lab Forest" Type="Container" Expanded="true" Icon="mRemoteNG" Panel="General" Id="arbor-container">
    {% for vm in lab_design.arbor_forest %}
      <Node Name="{{ vm.hostname }}" Type="Connection" Icon="mRemoteNG" Panel="General"
            Id="arbor-{{ vm.hostname | lower }}"
            Username="Administrator" Domain="ARBOR" Password=""
            Hostname="{{ vm.ip }}" Protocol="RDP" Port="3389"
            UseCredSsp="true" />
    {% endfor %}
    </Node>

    <!-- Alpine Forest Root + Child Domains -->
    <Node Name="alpine.lab Forest" Type="Container" Expanded="true" Icon="mRemoteNG" Panel="General" Id="alpine-container">

      <Node Name="Forest Root" Type="Container" Expanded="true" Icon="mRemoteNG" Panel="General" Id="alpine-root-container">
      {% for vm in lab_design.alpine_forest if vm.domain == 'alpine.lab' %}
        <Node Name="{{ vm.hostname }}" Type="Connection" Icon="mRemoteNG" Panel="General"
              Id="alpine-{{ vm.hostname | lower }}"
              Username="Administrator" Domain="ALPINE" Password=""
              Hostname="{{ vm.ip }}" Protocol="RDP" Port="3389"
              UseCredSsp="true" />
      {% endfor %}
      </Node>

      <Node Name="mauna.alpine.lab Child Domain" Type="Container" Expanded="true" Icon="mRemoteNG" Panel="General" Id="mauna-container">
      {% for vm in lab_design.alpine_forest if vm.domain == 'mauna.alpine.lab' %}
        <Node Name="{{ vm.hostname }}" Type="Connection" Icon="mRemoteNG" Panel="General"
              Id="mauna-{{ vm.hostname | lower }}"
              Username="Administrator" Domain="MAUNA" Password=""
              Hostname="{{ vm.ip }}" Protocol="RDP" Port="3389"
              UseCredSsp="true" />
      {% endfor %}
      </Node>

      <Node Name="rainier.alpine.lab Child Domain" Type="Container" Expanded="true" Icon="mRemoteNG" Panel="General" Id="rainier-container">
      {% for vm in lab_design.alpine_forest if vm.domain == 'rainier.alpine.lab' %}
        <Node Name="{{ vm.hostname }}" Type="Connection" Icon="mRemoteNG" Panel="General"
              Id="rainier-{{ vm.hostname | lower }}"
              Username="Administrator" Domain="RAINIER" Password=""
              Hostname="{{ vm.ip }}" Protocol="RDP" Port="3389"
              UseCredSsp="true" />
      {% endfor %}
      </Node>

    </Node>

    <!-- Recovery VMs -->
    <Node Name="Recovery VMs" Type="Container" Expanded="true" Icon="mRemoteNG" Panel="General" Id="recovery-container">
    {% for vm in lab_design.recovery_vms %}
      <Node Name="{{ vm.hostname }}" Type="Connection" Icon="mRemoteNG" Panel="General"
            Id="recovery-{{ vm.hostname | lower }}"
            Username="Administrator" Domain="" Password=""
            Hostname="{{ vm.ip }}" Protocol="RDP" Port="3389"
            UseCredSsp="true" />
    {% endfor %}
    </Node>

  </Node>
</mrng:Connections>