<?xml version="1.0" encoding="utf-8"?>
<mrng:Connections xmlns:mrng="http://mremoteng.org"
                  Name="{{ connections_name | default('Connections') }}"
                  Export="true"
                  EncryptionEngine="AES"
                  BlockCipherMode="GCM"
                  KdfIterations="{{ kdf_iterations | default('1000') }}"
                  FullFileEncryption="false"
                  Protected=""
                  ConfVersion="2.6">
{% macro guid(s) -%}
  {%- set h = (s | hash('md5')) -%}
  {{ h[0:8] ~ '-' ~ h[8:12] ~ '-' ~ h[12:16] ~ '-' ~ h[16:20] ~ '-' ~ h[20:32] }}
{%- endmacro %}

  <Node Name="{{ lab_name | default('ADFR Lab') }}"
        Type="Container" Descr="" Icon="mRemoteNG" Panel="General"
        Id="{{ guid(lab_name | default('ADFR Lab')) }}">

    {# ---------- Infrastructure ---------- #}
    {% if 'infrastructure' in groups %}
    <Node Name="Infrastructure" Type="Container" Descr="" Icon="mRemoteNG" Panel="General"
          Id="{{ guid('Infrastructure') }}">
      {% for h in (groups['infrastructure'] | default([])) | sort %}
        {% set hv = hostvars[h] %}
        <Node Name="{{ h }}" Type="Connection" Descr="" Icon="mRemoteNG" Panel="General"
              Id="{{ guid('conn/' ~ h) }}"
              Username="{{ hv.ansible_user | default('Administrator') }}"
              Domain="{{ hv.netbios_name | default('') }}"
              Password=""
              Hostname="{{ hv.ansible_host | default(h) }}"
              Protocol="{{ hv.rdp_protocol | default('RDP') }}"
              PuttySession="Default Settings"
              Port="{{ hv.rdp_port | default('3389') }}"
              ConnectToConsole="false"
              UseCredSsp="true"
              RenderingEngine="IE"
              ICAEncryptionStrength="EncrBasic"
              RDPAuthenticationLevel="NoAuth"
              RDPMinutesToIdleTimeout="0" />
      {% endfor %}
    </Node>
    {% endif %}

    {# ---------- Arbor Forest ---------- #}
    {% if 'arbor_forest' in groups %}
    <Node Name="Arbor Forest" Type="Container" Descr="" Icon="mRemoteNG" Panel="General"
          Id="{{ guid('Arbor Forest') }}">
      <Node Name="Root Domain" Type="Container" Descr="" Icon="mRemoteNG" Panel="General"
            Id="{{ guid('Arbor Root') }}">
        {% for g in ['arbor_forest_root_pdc','arbor_forest_root_replica'] if g in groups %}
          {% for h in (groups[g] | default([])) | sort %}
            {% set hv = hostvars[h] %}
            <Node Name="{{ h }}" Type="Connection" Descr="" Icon="mRemoteNG" Panel="General"
                  Id="{{ guid('conn/' ~ h) }}"
                  Username="{{ hv.ansible_user | default('Administrator') }}"
                  Domain="{{ hv.netbios_name | default('') }}"
                  Password=""
                  Hostname="{{ hv.ansible_host | default(h) }}"
                  Protocol="{{ hv.rdp_protocol | default('RDP') }}"
                  PuttySession="Default Settings"
                  Port="{{ hv.rdp_port | default('3389') }}"
                  ConnectToConsole="false"
                  UseCredSsp="true"
                  RenderingEngine="IE"
                  ICAEncryptionStrength="EncrBasic"
                  RDPAuthenticationLevel="NoAuth"
                  RDPMinutesToIdleTimeout="0" />
          {% endfor %}
        {% endfor %}
      </Node>
    </Node>
    {% endif %}

    {# ---------- Alpine Forest with nested child domains ---------- #}
    {% if 'alpine_forest' in groups %}
    <Node Name="Alpine Forest" Type="Container" Descr="" Icon="mRemoteNG" Panel="General"
          Id="{{ guid('Alpine Forest') }}">

      {# Root Domain (ALPINE) #}
      <Node Name="Root Domain" Type="Container" Descr="" Icon="mRemoteNG" Panel="General"
            Id="{{ guid('Alpine Root') }}">
        {% for g in ['alpine_forest_root_pdc','alpine_forest_root_replica'] if g in groups %}
          {% for h in (groups[g] | default([])) | sort %}
            {% set hv = hostvars[h] %}
            <Node Name="{{ h }}" Type="Connection" Descr="" Icon="mRemoteNG" Panel="General"
                  Id="{{ guid('conn/' ~ h) }}"
                  Username="{{ hv.ansible_user | default('Administrator') }}"
                  Domain="{{ hv.netbios_name | default('') }}"
                  Password=""
                  Hostname="{{ hv.ansible_host | default(h) }}"
                  Protocol="{{ hv.rdp_protocol | default('RDP') }}"
                  PuttySession="Default Settings"
                  Port="{{ hv.rdp_port | default('3389') }}"
                  ConnectToConsole="false"
                  UseCredSsp="true"
                  RenderingEngine="IE"
                  ICAEncryptionStrength="EncrBasic"
                  RDPAuthenticationLevel="NoAuth"
                  RDPMinutesToIdleTimeout="0" />
          {% endfor %}
        {% endfor %}
      </Node>

      {# Child domains under alpine_forest: detect by parent_domain #}
      {% set children = {} %}
      {% for subgroup in (groups['alpine_forest'] | default([])) %}
        {% if subgroup in groups %}
          {% for h in groups[subgroup] | default([]) %}
            {% set hv = hostvars[h] %}
            {% if hv.parent_domain is defined %}
              {% set dom = (hv.netbios_name | default(hv.domain_name.split('.')[0] | default(''))) | upper %}
              {% if children.update({dom: (children.get(dom, []) + [h])}) %}{% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      {% for dom in (children.keys() | list | sort) %}
      <Node Name="{{ dom }}" Type="Container" Descr="" Icon="mRemoteNG" Panel="General"
            Id="{{ guid('Alpine/' ~ dom) }}">
        {% for h in (children[dom] | sort) %}
          {% set hv = hostvars[h] %}
          <Node Name="{{ h }}" Type="Connection" Descr="" Icon="mRemoteNG" Panel="General"
                Id="{{ guid('conn/' ~ h) }}"
                Username="{{ hv.ansible_user | default('Administrator') }}"
                Domain="{{ hv.netbios_name | default('') }}"
                Password=""
                Hostname="{{ hv.ansible_host | default(h) }}"
                Protocol="{{ hv.rdp_protocol | default('RDP') }}"
                PuttySession="Default Settings"
                Port="{{ hv.rdp_port | default('3389') }}"
                ConnectToConsole="false"
                UseCredSsp="true"
                RenderingEngine="IE"
                ICAEncryptionStrength="EncrBasic"
                RDPAuthenticationLevel="NoAuth"
                RDPMinutesToIdleTimeout="0" />
        {% endfor %}
      </Node>
      {% endfor %}

    </Node>
    {% endif %}

    {# ---------- Recovery VMs ---------- #}
    {% if 'recovery_vms' in groups %}
    <Node Name="Recovery VMs" Type="Container" Descr="" Icon="mRemoteNG" Panel="General"
          Id="{{ guid('Recovery VMs') }}">
      {% for h in (groups['recovery_vms'] | default([])) | sort %}
        {% set hv = hostvars[h] %}
        <Node Name="{{ h }}" Type="Connection" Descr="" Icon="mRemoteNG" Panel="General"
              Id="{{ guid('conn/' ~ h) }}"
              Username="{{ hv.ansible_user | default('Administrator') }}"
              Domain="{{ hv.netbios_name | default('') }}"
              Password=""
              Hostname="{{ hv.ansible_host | default(h) }}"
              Protocol="{{ hv.rdp_protocol | default('RDP') }}"
              PuttySession="Default Settings"
              Port="{{ hv.rdp_port | default('3389') }}"
              ConnectToConsole="false"
              UseCredSsp="true"
              RenderingEngine="IE"
              ICAEncryptionStrength="EncrBasic"
              RDPAuthenticationLevel="NoAuth"
              RDPMinutesToIdleTimeout="0" />
      {% endfor %}
    </Node>
    {% endif %}

  </Node>
</mrng:Connections>