---
# Promote server to replica domain controller in existing domain

- name: Check if already a DC
  include_tasks: check_domain_status.yml

- name: Promote to replica DC
  ansible.windows.win_shell: |
    $safeModePassword = ConvertTo-SecureString "{{ ad_safe_mode_password }}" -AsPlainText -Force
    $domainCred = New-Object System.Management.Automation.PSCredential("{{ netbios_name }}\Administrator", (ConvertTo-SecureString "{{ ad_safe_mode_password }}" -AsPlainText -Force))

    Install-ADDSDomainController -DomainName "{{ domain_name }}" -InstallDns -DatabasePath "{{ ad_database_path }}" -SysvolPath "{{ ad_sysvol_path }}" -LogPath "{{ ad_log_path }}" -SafeModeAdministratorPassword $safeModePassword -Credential $domainCred -Force
  when: not is_domain_controller
  register: replica_promotion

- name: Wait for reboot to complete
  wait_for_connection:
    timeout: "{{ ad_reboot_timeout }}"
    delay: 60
  when: replica_promotion.rc == 0

- name: Wait for Active Directory Web Services
  ansible.windows.win_service:
    name: ADWS
    state: started
  register: adws_service
  retries: 10
  delay: 30
  until: adws_service.state == 'running'
  when: replica_promotion.rc == 0

- name: Display promotion result
  debug:
    msg:
      - "{{ inventory_hostname }} - Replica DC promoted"
      - "  Domain: {{ domain_name }}"