---
# Promote server to first DC in child domain

- name: Check if already promoted
  include_tasks: check_domain_status.yml

- name: Promote to child domain PDC (this will reboot the system)
  ansible.windows.win_shell: |
    $ErrorActionPreference = "Stop"
    $SecurePassword = ConvertTo-SecureString "{{ ad_safe_mode_password }}" -AsPlainText -Force
    $ParentCred = New-Object System.Management.Automation.PSCredential("{{ parent_domain_netbios }}\Administrator", $SecurePassword)

    Install-ADDSDomain `
      -NewDomainName "{{ domain_name.split('.')[0] }}" `
      -ParentDomainName "{{ parent_domain }}" `
      -SafeModeAdministratorPassword $SecurePassword `
      -Credential $ParentCred `
      -InstallDNS:${{ ad_install_dns | ternary('true', 'false') }} `
      -DatabasePath "{{ ad_database_path }}" `
      -SysvolPath "{{ ad_sysvol_path }}" `
      -LogPath "{{ ad_log_path }}" `
      -Force `
      -NoRebootOnCompletion:$false
  when: not is_domain_controller
  register: child_promotion
  timeout: 1200

- name: Wait for child domain DC to reboot and come back
  wait_for_connection:
    timeout: "{{ ad_reboot_timeout }}"
    delay: 60
  when: child_promotion.changed

- name: Wait for DC to be fully ready
  include_tasks: wait_for_dc_ready.yml
  when: child_promotion.changed

- name: Display promotion result
  debug:
    msg:
      - "{{ inventory_hostname }} - Child Domain PDC {{ 'promoted' if child_promotion.changed else 'already exists' }}"
      - "  Domain: {{ domain_name }}"
      - "  Parent: {{ parent_domain }}"