---
- name: Cleanup All Lab VMs
  hosts: all
  connection: local
  gather_facts: false

  tasks:
    - name: Display cleanup plan
      debug:
        msg:
          - "WARNING: This will destroy {{ ansible_play_hosts | length }} VMs"
          - "Waiting 10 seconds... Press Ctrl+C to abort"
      run_once: true

    - name: Wait before destruction
      pause:
        seconds: 10
      run_once: true

    - name: Stop and destroy VMs
      include_role:
        name: proxmox
        tasks_from: destroy.yml

    - name: Cleanup summary
      debug:
        msg: "All {{ ansible_play_hosts | length }} VMs destroyed"
      run_once: true