---

# =============================================================================
# Configure DNS to point to all forest DCs
# =============================================================================
- name: Configure DNS on Forest Root DCs
  hosts: domain_controllers:infrastructure:recovery_vms
  gather_facts: false
  serial: 0
  tasks:
    - name: Map dns_servers to windows_dns_servers
      set_fact:
        windows_dns_servers: "{{ dns_servers }}"

    - name: Configure DNS
      include_role:
        name: windows
        tasks_from: set_dns.yml
