---
# Windows connection defaults
ansible_connection: winrm
ansible_winrm_transport: ntlm
ansible_winrm_server_cert_validation: ignore
ansible_port: 5985
ansible_user: Administrator
ansible_password: "{{ lookup('env', 'WINDOWS_PASSWORD') }}"

# Linux connection defaults
linux_user: root
linux_password: "{{ lookup('env', 'LINUX_PASSWORD') }}"
linux_port: 22

# Proxmox API
proxmox_user: root@pam
proxmox_password: "{{ lookup('env', 'PROXMOX_PASSWORD') }}"
proxmox_validate_certs: false